.projects {
  padding-top: 6%;
  font-size: 100%;
}

.projects h1 {
  margin-left: 20%;
}

.projects-container {
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 40%;
  margin-right: 2%;
  margin-top: 2%;
  padding: 10px 40px;
}

@media screen and (max-width: 600px) {
  .project {
    width: 80%
  }
}

.date {
  text-align: right;
}
